<div class="container landing animate__animated animate__fadeIn">
  <div class="landing-content">
    <div class="card text-bg-dark w-50-lg">
      <img src="../../../assets/fondogame.jpg" class="card-img" alt="..." />
      <div
        class="card-img-overlay animate__animated animate__lightSpeedInLeft animate__delay-1s"
      >
        <div>
          <h1 class="card-title">Welcome to the world of videogames</h1>
          <h5 class="card-text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel nam
            corporis minus. Vero eaque quas dolorum obcaecati esse. Doloribus ut
            quas magni! Repellendus ut odit, hic dolor pariatur magni explicabo?
          </h5>
          <button class="btn btn-outline-secondary" [routerLink]="['/games']">
            Welcome
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
