<app-navbar></app-navbar>

<h1>List of Video Games</h1>

<div class="container selects">
  <div class="row justify-content-center">
    <div class="col-lg-4 d-flex">
      <select class="form-select me-2 mb-3" (change)="filterByGenero($event)">
        <option selected disabled>Category</option>
        <option value="Todos">Todos</option>
        <option *ngFor="let genero of genres" [value]="genero">
          {{ genero }}
        </option>
      </select>
      <select class="form-select mb-3" (change)="filterByPlataforma($event)">
        <option selected disabled>Platform</option>
        <option value="Todos">Todos</option>
        <option value="pc">PC</option>
        <option value="browser">Browser</option>
        <!-- <option *ngFor="let plataforma of platforms" [value]="plataforma">
          {{ plataforma }}
        </option> -->
      </select>
    </div>
  </div>
</div>

<div class="container-fluid card-juegos animate__animated animate__fadeIn">
  <div
    class="col-lg-3 col-md-5"
    *ngFor="
      let juego of juegos
        | paginate : { itemsPerPage: 20, currentPage: currentPage }
    "
  >
    <div class="card">
      <a [routerLink]="['/games', juego.id]">
        <img
          [src]="juego.thumbnail"
          class="card-img-top"
          alt="Imagen del juego"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ juego.title }}</h5>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  class="pagination"
  (pageChange)="currentPage = $event"
  previousLabel=""
  nextLabel=""
></pagination-controls>
