<h1>List of Video Games</h1>
<div class="container selects">
  <div class="row justify-content-center">
    <div class="col-lg-4 d-flex">
      <select class="form-select me-2 mb-3">
        <option selected disabled>Category</option>
        <option *ngFor="let juego of juegos" [value]="juego.genre">
          {{ juego.genre }}
        </option>
      </select>
      <select class="form-select mb-3">
        <option selected disabled>Platform</option>
        <option *ngFor="let juego of juegos" [value]="juego.platform">
          {{ juego.platform }}
        </option>
      </select>
    </div>
  </div>
</div>
<div class="container card-juegos">
  <div
    class="col-lg-3 col-md-5"
    *ngFor="
      let juego of juegos
        | paginate : { itemsPerPage: 12, currentPage: currentPage }
    "
  >
    <div class="card">
      <a [routerLink]="['/games', juego.id]"> 
        <img
          [src]="juego.thumbnail"
          class="card-img-top"
          alt="Imagen del juego"
        />
      </a>
      <div class="card-body">
        <h5 class="card-title">{{ juego.title }}</h5>
      </div>
    </div>
  </div>
</div>

<pagination-controls
  class="pagination"
  (pageChange)="currentPage = $event"
  previousLabel=""
  nextLabel=""
></pagination-controls>
